/* PRODUCT CATALOGUE  STYLING*/
header {
    background-color: black;
    color: white;
    padding: 10px;
}

nav {
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    padding: 10px;
}

nav > a, nav > span{
    margin-left: 2%;
}

footer {
    background-color: black;
    color: white;
    padding: 10px
}

.errorMsg{
    border-radius: 2px;
    background-color: lightpink;
    font-weight: bold;
}




.office_list_form, .order_list_form{
    display: inline;
}

.office_list_form > button > i, .order_list_form > button > i{
    height: auto;
    width: 10px;
}


#office_form{
    width:330px;
}

.office_form{
    display: inline;
}

#office_id_input_text{
    border-radius: 7px;
}

#search_button{
    margin-bottom: 2%;
}

#office_form_container > div > form{
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 2%;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 10px 10px #747474;
}

#display_all{
    margin-left: 0.5%;
}