/* PRODUCT CATALOGUE  STYLING*/
header {
    background-color: black;
    color: white;
    padding: 10px;
}

nav {
    background-color: grey;
    color: white;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px
}

.errorMsg{
    border-radius: 2px;
    background-color: lightpink;
    font-weight: bold;
}

.office_list_form{
    display: inline;
}

.office_list_form > button > i{
    width: 10px;
    height: auto;
}

.office_form{
    display: inline;
}